name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Poetry (1.6.1)
        run: pip install "poetry==1.6.1"

      - name: Configure Poetry
        run: poetry config virtualenvs.in-project true

      - name: Install dependencies (with dev)
        run: poetry install --no-interaction --no-root  --with=dev

      - name: Run tests with coverage (branch)
        env:
          PYTHONPATH: src
        run: poetry run coverage run --branch -m pytest

      - name: Coverage report (XML for Codecov)
        run: poetry run coverage xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
